*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
    color:#333;
}
body {
    background-color: #fff;
    font: normal 12px/1.5 Microsoft yahei,Arial;
    color: #666;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}
.topbar a:hover{
    color: #c33;
}
/* 网页顶部样式 */
b, cite, em, i {
    font-style: normal;
}
.topbar {
    background-color: #f8f8f8;
    height: 30px;
    line-height: 30px;
    border-bottom: 0;
    z-index: 1;
    width: 100%;
    min-width: 1200px;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.topbar .topnar-fl {
    float: left;
}
.topbar .topbar-fr {
    float: right;
}
.topbar .nav-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    height: 29px;
    border-top: 1px solid #f8f8f8;
}
.topbar .user-type, .topbar a {
    color: #646464;
}
.topbar .nav-item a {
    display: inline-block;
    padding: 0 10px;
}
.topbar .downmenu {
    position: relative;
    /* right: 10px; */
}
.topbar .downmenu .title{
    margin-right:10px ;
}
.topbar .dropdownlist {
    border-top: 0;
    display: none;
    width: 100%;
    top: 29px;
    left: -1px;
    border-color: #dedede;
    text-align: left;
}
.topbar .dropdownlist {
    border: 1px solid #dedede;
    position: absolute;
    overflow: hidden;
    width: 72px;
    right: 2px;
    left: auto;
    display: none;
}
.topbar .arrow-bt {
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: inline-block;
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: #9b9b9b transparent transparent;
    position: absolute;
    top: 14px;
    right: 8px;
}
.head-d:hover .dropdownlist{
    display: block;
}
/* 网页右导航栏 */
.rightbar {
    width: 35px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #383838;
    color: #fff;
    z-index: 11;
}
.rightbar .item {
    border-top: 1px solid #979797;
    padding-bottom: 18px;
    position: relative;
}
.rightbar .user {
    border-top: 0;
}
.rightbar .title {
    margin-top: 5px;
    display: block;
    word-break: normal;
    word-wrap: normal;
}
.rightbar .item a {
    padding: 18px 0 7px;
    display: block;
    color: #fff;
}
.rightbar-icon {
    background-image: url(../img/top/banner2.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.rti-user {
    background-position: 0 0;
}
.rti-cart {
    background-position: -17px 0;
}
.rti-code {
    background-position: -34px 0;
}
.rti-top {
    background-position: -102px 0;
}
/* 网页头部 */
.global-wrap .inner:after, .global-wrap .inner:before {
    display: table;
    line-height: 0;
    content: "";
}
.global-wrap {
    width: 100%;
    min-width: 1200px;
}
.header .header-search {
    margin: 15px 0 0;
    clear: both;
}
.header .header-search .logo {
    text-align: left;
    float: left;
    margin-top: 17.5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    font-size: 100%;
    display: block;
}
.header .header-search .logo a {
    width: 309px;
    height: 63px;
    display: block;
    background: url(../img/top/logo.png);
}
/* 搜索框 */
.header .header-search .search-wrap {
    float: left;
    width: 450px;
    height: 40px;
    margin: 37.5px 0 0 63px;
    background-color: #c33;
    text-align: left;
    box-shadow: 0 1px 2px #b8b3b3;
    position: relative;
}
.header .header-search .search-wrap .input-search {
    width: 370px;
    height: 22px;
    padding: 7px 10px;
    background-color: #fff;
    border: 0;
    margin: 2px;
    *margin: 1px 2px;
    font-size: 16px;
    color: #18181a;
}
button, input{
    font: inherit;
    outline: 0;
}
.header .header-search .search-wrap .search-btn {
    background-position: -24px 0;
    width: 23px;
    height: 23px;
    margin: -6px 0 0 13px;
    border: 0;
    display: inline-block;
}
.header .header-icon {
    background: url(../img/top/fl.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.header .header-search .qrapp {
    float: right;
    background: url(../img/top/3.png);
    width: 161.7px;
    height: 150px;
    background-size: 161.7px 150px;
}
/* 搜索框隐藏区域 */
.header .header-search .search-wrap .search-recomend {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 11;
    padding: 10px 10px 6px;
    width: 371px;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.header .header-search .search-wrap .search-recomend dl {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}
.header .header-search .search-wrap .search-recomend dt {
    color: #dedede;
    margin-bottom: 11px;
    overflow: hidden;
}
.header .header-search .search-wrap .search-recomend dd {
    display: inline-block;
    color: #646464;
    margin-right: 20px;
    margin-bottom: 11px;
}
/* 分区 */
.header .menu-nav {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #c33;
    position: relative;
    height: 46px;
    bottom: -2px;
    z-index: 10;
}
.header .menu-nav .menu-item {
    display: inline-block;
    font-size: 20px;
    color: #383838;
    padding: 0 35px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
/* .header .menu-nav .current {
    color: #c33;
} */
.header .menu-nav .menu-item .c-down {
    background: url(../img/top/1cb.png) no-repeat;
    width: 14px;
    height: 8px;
    background-size: 14px 8px;
    display: inline-block;
    margin-left: 10px;
}
.header .menu-nav .menu-item:hover{
    color: #c33;
}
.header .menu-nav .current:hover{
    border: 1px solid #c33;
    border-bottom: 2px solid #fff;
}
.header .menu-nav .select{
    border: 1px solid #c33;
    border-bottom: 2px solid #fff;
    color: #c33;
}
.header .category-box .category-downlist{
    display: none;
}
.header .menu-nav .current:hover+.category-box .category-downlist{
    display: block;
}
.header .category-box:hover .category-downlist{
    display: block;
}
.header .menu-nav .current:hover .c-down{
    background: url(../img/top/e44.png) no-repeat;
}
.header .menu-nav .select .c-down{
    background: url(../img/top/e44.png) no-repeat;
}
/* 分类隐藏区域 */
a {
    color: #666;
}
a:hover {
    color: #c33;
}
.header .category-box {
    width: 100%;
    position: absolute;
    left: 0;
    top: 48px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    box-shadow: 0 2px 8px #9b9b9b;
}
.header .category-box .category-downlist {
    width: 100%;
    position: relative;
}
.header .category-box .category-downlist .category-wrap {
    overflow: hidden;
    margin: 10px 5px;
}
.header .category-box .category-downlist .cw-item {
    width: 198px;
    height: 56px;
    float: left;
    border: 1px dotted #dedede;
    position: relative;
    padding: 9px 20px;
    text-align: left;
    border-left: 0;
    border-top: 0;
    margin: 0 -1px -1px 0;
}
.header .category-box .category-downlist .cw-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.header .category-box .category-downlist .cw-title .header-icon {
    background-position: -5px -5px;
    width: 7px;
    height: 12px;
    margin-left: 5px;
}
.header .header-icon {
    background: url(../img/top/fl.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.header .category-box .category-downlist .cw-subtitle {
    width: 138px;
}
.header .category-box .category-downlist .cw-img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 9px;
    right: 20px;
}
.header .category-box .category-downlist .cw-img img {
    width: 55px;
    height: 55px;
}