*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
    color:#333;
}
body {
    background-color: #fff;
    font: normal 12px/1.5 Microsoft yahei,Arial;
    color: #666;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}
.topbar a:hover{
    color: #c33;
}
/* 网页顶部样式 */
b, cite, em, i {
    font-style: normal;
}
.topbar {
    background-color: #f8f8f8;
    height: 30px;
    line-height: 30px;
    border-bottom: 0;
    z-index: 1;
    width: 100%;
    min-width: 1200px;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.topbar .topnar-fl {
    float: left;
}
.topbar .topbar-fr {
    float: right;
}
.topbar .nav-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    height: 29px;
    border-top: 1px solid #f8f8f8;
}
.topbar .user-type, .topbar a {
    color: #646464;
}
.topbar .nav-item a {
    display: inline-block;
    padding: 0 10px;
}
.topbar .downmenu {
    position: relative;
    /* right: 10px; */
}
.topbar .downmenu .title{
    margin-right:10px ;
}
.topbar .dropdownlist {
    border-top: 0;
    display: none;
    width: 100%;
    top: 29px;
    left: -1px;
    border-color: #dedede;
    text-align: left;
}
.topbar .dropdownlist {
    border: 1px solid #dedede;
    position: absolute;
    overflow: hidden;
    width: 72px;
    right: 2px;
    left: auto;
    display: none;
}
.topbar .arrow-bt {
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: inline-block;
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: #9b9b9b transparent transparent;
    position: absolute;
    top: 14px;
    right: 8px;
}
.head-d:hover .dropdownlist{
    display: block;
}
/* 网页右导航栏 */
.rightbar {
    width: 35px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #383838;
    color: #fff;
    z-index: 11;
}
.rightbar .item {
    border-top: 1px solid #979797;
    padding-bottom: 18px;
    position: relative;
}
.rightbar .user {
    border-top: 0;
}
.rightbar .title {
    margin-top: 5px;
    display: block;
    word-break: normal;
    word-wrap: normal;
}
.rightbar .item a {
    padding: 18px 0 7px;
    display: block;
    color: #fff;
}
.rightbar-icon {
    background-image: url(../img/top/banner2.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.rti-user {
    background-position: 0 0;
}
.rti-cart {
    background-position: -17px 0;
}
.rti-code {
    background-position: -34px 0;
}
.rti-top {
    background-position: -102px 0;
}
/* 网页头部 */
.global-wrap .inner:after, .global-wrap .inner:before {
    display: table;
    line-height: 0;
    content: "";
}
.global-wrap {
    width: 100%;
    min-width: 1200px;
}
.header .header-search {
    margin: 15px 0 0;
    clear: both;
}
.header .header-search .logo {
    text-align: left;
    float: left;
    margin-top: 17.5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    font-size: 100%;
    display: block;
}
.header .header-search .logo a {
    width: 309px;
    height: 63px;
    display: block;
    background: url(../img/top/logo.png);
}
/* 搜索框 */
.header .header-search .search-wrap {
    float: left;
    width: 450px;
    height: 40px;
    margin: 37.5px 0 0 63px;
    background-color: #c33;
    text-align: left;
    box-shadow: 0 1px 2px #b8b3b3;
    position: relative;
}
.header .header-search .search-wrap .input-search {
    width: 370px;
    height: 22px;
    padding: 7px 10px;
    background-color: #fff;
    border: 0;
    margin: 2px;
    *margin: 1px 2px;
    font-size: 16px;
    color: #18181a;
}
button, input{
    font: inherit;
    outline: 0;
}
.header .header-search .search-wrap .search-btn {
    background-position: -24px 0;
    width: 23px;
    height: 23px;
    margin: -6px 0 0 13px;
    border: 0;
    display: inline-block;
}
.header .header-icon {
    background: url(../img/top/fl.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.header .header-search .qrapp {
    float: right;
    background: url(../img/top/3.png);
    width: 161.7px;
    height: 150px;
    background-size: 161.7px 150px;
}
/* 搜索框隐藏区域 */
.header .header-search .search-wrap .search-recomend {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 11;
    padding: 10px 10px 6px;
    width: 371px;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.header .header-search .search-wrap .search-recomend dl {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}
.header .header-search .search-wrap .search-recomend dt {
    color: #dedede;
    margin-bottom: 11px;
    overflow: hidden;
}
.header .header-search .search-wrap .search-recomend dd {
    display: inline-block;
    color: #646464;
    margin-right: 20px;
    margin-bottom: 11px;
}
/* 分区 */
.header .menu-nav {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #c33;
    position: relative;
    height: 46px;
    bottom: -2px;
    z-index: 10;
}
.header .menu-nav .menu-item {
    display: inline-block;
    font-size: 20px;
    color: #383838;
    padding: 0 35px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
/* .header .menu-nav .current {
    color: #c33;
} */
.header .menu-nav .menu-item .c-down {
    background: url(../img/top/1cb.png) no-repeat;
    width: 14px;
    height: 8px;
    background-size: 14px 8px;
    display: inline-block;
    margin-left: 10px;
}
.header .menu-nav .menu-item:hover{
    color: #c33;
}
.header .menu-nav .current:hover{
    border: 1px solid #c33;
    border-bottom: 2px solid #fff;
}
.header .menu-nav .select{
    border: 1px solid #c33;
    border-bottom: 2px solid #fff;
    color: #c33;
}
.header .category-box .category-downlist{
    display: none;
}
.header .menu-nav .current:hover+.category-box .category-downlist{
    display: block;
}
.header .category-box:hover .category-downlist{
    display: block;
}
.header .menu-nav .current:hover .c-down{
    background: url(../img/top/e44.png) no-repeat;
}
.header .menu-nav .select .c-down{
    background: url(../img/top/e44.png) no-repeat;
}
/* 分类隐藏区域 */
a {
    color: #666;
}
a:hover {
    color: #c33;
}
.header .category-box {
    width: 100%;
    position: absolute;
    left: 0;
    top: 48px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    box-shadow: 0 2px 8px #9b9b9b;
}
.header .category-box .category-downlist {
    width: 100%;
    position: relative;
}
.header .category-box .category-downlist .category-wrap {
    overflow: hidden;
    margin: 10px 5px;
}
.header .category-box .category-downlist .cw-item {
    width: 198px;
    height: 56px;
    float: left;
    border: 1px dotted #dedede;
    position: relative;
    padding: 9px 20px;
    text-align: left;
    border-left: 0;
    border-top: 0;
    margin: 0 -1px -1px 0;
}
.header .category-box .category-downlist .cw-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.header .category-box .category-downlist .cw-title .header-icon {
    background-position: -5px -5px;
    width: 7px;
    height: 12px;
    margin-left: 5px;
}
.header .header-icon {
    background: url(../img/top/fl.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.header .category-box .category-downlist .cw-subtitle {
    width: 138px;
}
.header .category-box .category-downlist .cw-img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 9px;
    right: 20px;
}
.header .category-box .category-downlist .cw-img img {
    width: 55px;
    height: 55px;
}
.global-wrap .inner:after {
    clear: both;
}
/* 头部图片 */
.home-banners .focus-images {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
}
.home-banners .focus-images .images {
    position: relative;
}
.home-banners .focus-images .item {
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
}
.home-banners .focus-images .current {
    display: block;
}
.home-banners .focus-images .area {
    width: 1200px;
    margin: 0 auto;
}
.home-banners .focus-images .area img {
    max-width: 100%;
    max-height: 400px;
}
.home-banners .wy-slide-nav {
    position: relative;
    z-index: 5;
    margin-top: -30px;
}
.home-banners .wy-slide-nav .focusitem {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin: 0 2px;
    background-color: #cecece;
    border-radius: 100%;
}
.home-banners .wy-slide-nav .current {
    background-color: #c33;
}
.home-banners .swith-btn-prev {
    margin-left: -600px;
}
.home-banners .swith-btn {
    position: absolute;
    left: 50%;
    top: 160px;
    cursor: pointer;
}
.home-icon {
    background-image: url(../img/top/ff6e.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.hi-next, .hi-prev {
    width: 45px;
    height: 80px;
}
.hi-prev {
    background-position: -320px -138px;
}
.home-banners .swith-btn-next {
    margin-left: 555px;
}
.hi-next {
    background-position: -366px -138px;
}
.home-banners .sb-bd .slider-page{
    display: none;
}
.home-banners:hover .sb-bd .slider-page{
    display: block;
}
.home-banners .sb-ft {
    height: 30px;
    padding: 13px 0;
    background-color: #f8f8f8;
}
.home-banners .sb-ft .inner {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.home-banners .sb-ft .item {
    width: 300px;
    float: left;
    border-left: 1px solid #dedede;
    margin-left: -1px;
    text-align: center;
    font-size: 16px;
    color: #383838;
}
.home-banners .sb-ft .title {
    vertical-align: middle;
}
.home-banners .sb-ft .zhengpin-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
}
.home-banners .sb-ft .zhengpin1 {
    background-image: url(../img/top/53b1.png);
}
.home-banners .sb-ft .zhengpin4 {
    background-image: url(../img/top/93c1.png);
}
.home-banners .sb-ft .zhengpin2 {
    background-image: url(../img/top/2419ad.png);
}
.home-banners .sb-ft .zhengpin3 {
    background-image: url(../img/top/43b3.png);
}
/* 首页内容 */
/* 今日限时抢 */
.mod {
    margin-top: 40px;
    text-align: left;
}
.mod .mod-hd {
    position: relative;
}
.hi-todaybuy {
    background-position: 0 -30px;
}
.mod .mod-hd .title {
    vertical-align: middle;
    color: #383838;
    font-size: 20px;
    font-weight: 700;
    margin-left: 8px;
}
.mod .mod-hd .more {
    font-size: 17px;
    color: #646464;
    position: absolute;
    right: -5px;
    top: 3px;
}
.hi-more {
    background-position: -192px -33px;
}
/* 限时抢 */
.mod .mod-bd {
    margin-top: 10px;
}
.mod-today-buying .today-buying-wrap {
    margin-top: -30px;
    position: relative;
}
.mod-today-buying .today-buying-wrap .swith-btn {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    z-index: 9;
    cursor: pointer;
}
.mod-today-buying .today-buying-wrap .swith-btn-prev {
    left: 0;
}
.hi-next, .hi-prev {
    width: 45px;
    height: 80px;
}
.hi-prev {
    background-position: -320px -138px;
}
.mod-today-buying .today-buying-wrap .swith-btn-next {
    right: 0;
}
.hi-next {
    background-position: -366px -138px;
}
.mod-today-buying .swith-today-banner {
    position: relative;
    height: 290px;
}
.mod-today-buying .swith-img img {
    width: 431.6px;
    height: 200px;
}
.mod-today-buying .swith-today-banner {
    position: relative;
    height: 290px;
}
.mod-today-buying .swith-img {
    display: block;
    position: absolute;
    top: 69px;
}
.mod-today-buying .swith-img-prev {
    z-index: 1;
    left: 0;
}
.mod-today-buying .swith-img-active {
    z-index: 3;
    left: 50%;
    margin-left: -280px;
    top: 40px;
    box-shadow: 0 4px 12px 0 #cecece;
}
.mod-today-buying .swith-img-next {
    z-index: 1;
    right: 0;
}
.mod-today-buying .swith-img-active img {
    width: 560px;
    height: 260px;
}
.mod-today-buying .gray {
    left: 0;
    z-index: 2;
    background: #000;
    opacity: .2;
    height: 200px;
    top: 69px;
    position: absolute;
    width: 100%;
}
.gray {
    color: #acacac;
}
/* 倒计时 */
.mod-today-buying .timeout-wrap {
    background: url(../img/home/9949.png);
    width: 388px;
    height: 59px;
    padding-top: 14px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.mod-today-buying .timeout-wrap .title {
    font-size: 26px;
    color: #fff;
    letter-spacing: 2px;
    padding: 0 20px 0 0;
}
.hi-timeout {
    background-position: -120px -1px;
    width: 30px;
    height: 30px;
}
.mod-today-buying .timeout-wrap .hi-timeout {
    margin-right: 10px;
}
.mod-today-buying .timeout-wrap .time {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: rgba(196,52,52,.8);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 28px;
    display: inline-block;
}
.mod-today-buying .timeout-wrap .txt {
    font-size: 28px;
    color: #b33939;
}
/* 全球必买清单 */
.hi-must-buy {
    background-position: -48px -30px;
}
.mod .mod-hd .title {
    vertical-align: middle;
    color: #383838;
    font-size: 20px;
    font-weight: 700;
    margin-left: 8px;
}
.mod .mod-hd .more {
    font-size: 17px;
    color: #646464;
    position: absolute;
    right: -5px;
    top: 3px;
}
.must-buy-list .item {
    margin-top: 10px;
}
.must-buy-list .item:after, .must-buy-list .item:before {
    display: table;
    line-height: 0;
    content: "";
}
.must-buy-list .mb-l {
    width: 353px;
    height: 289px;
    float: left;
    position: relative;
    text-align: center;
}
.must-buy-list .must-buy-bg0 {
    background: url(../img/home/96ff.png) no-repeat;
}
.must-buy-list .mbl-fill {
    position: absolute;
    width: 346px;
    height: 140px;
    background: url(../img/home/cfad.png);
    top: 43px;
    left: 3px;
}
.must-buy-list .mbl-fill .fill {
    font-size: 24px;
    color: #383838;
    line-height: 38px;
    letter-spacing: 2.6px;
    padding-top: 30px;
    height: 75px;
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
}
.must-buy-list .mbl-fill .desc {
    margin-top: 50px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 2px 4px #564d42;
}
.must-buy-list .mbl-fill .desc span {
    padding: 0 10px;
}
.must-buy-list .mbl-fill .seller {
    border-right: 1px solid #fff;
}
.must-buy-list .mb-r {
    margin-left: 363px;
}
.must-buy-list .product-list {
    border-left: 1px solid #dedede;
    height: 289px;
}
.product-list:after, .product-list:before {
    display: table;
    line-height: 0;
    content: "";
}
.must-buy-list .product-list .product-item {
    width: 170px;
    padding: 19px 19px 18px;
    margin-left: -1px;
    position: relative;
}
.product-list .product-item {
    width: 212px;
    float: left;
    font-size: 14px;
    padding: 9px;
    border: 1px solid #dedede;
    text-align: left;
}
.must-buy-list .product-list .product-img {
    width: 170px;
    height: 170px;
    position: relative;
    display: block;
    line-height: 170px;
    overflow: hidden;
    text-align: center;
}
.must-buy-list .product-list .product-img img {
    width: 170px;
    height: 170px;
}
.product-list .name {
    color: #383838;
    margin-top: 8px;
    height: 42px;
    overflow: hidden;
}
.lineClamp1, .lineClamp2 {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
}
.product-list .price {
    color: #c33;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
}
.product-list .unit {
    padding-right: 3px;
}
.must-buy-list .product-list .country {
    position: absolute;
    right: 20px;
    bottom: 22px;
    color: #9b9b9b;
    font-size: 12px;
}
.must-buy-list .product-list .country-sign img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.must-buy-list .product-list .country-name {
    vertical-align: middle;
    margin-left: 5px;
}
.lineClamp2:hover{
    color: #c33;
}
.must-buy-list .must-buy-bg1 {
    background: url(../img/home/6724.png) no-repeat;
}
.must-buy-list .must-buy-bg2 {
    background: url(../img/home/6ce4.png) no-repeat;
}
/* 分类 */
.hi-category {
    background-position: -96px -30px;
}
.mod-category .mod-bd:after, .mod-category .mod-bd:before {
    display: table;
    line-height: 0;
    content: "";
}
.mod-category .category-banner {
    float: left;
    width: 305px;
    margin-top: -10px;
}
.mod-category .category-banner .cb-item {
    position: relative;
    margin-top: 10px;
}
.mod-category .category-banner .cb-item a {
    color: #646464;
}
.mod-category .category-banner .cb-item .cb-img {
    width: 305px;
    height: 170px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.mod-category .category-banner .cb-item span {
    background: url(../img/home/714b.png) no-repeat;
    width: 154px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 59px;
    left: 52px;
    padding: 12px 20px 9px 29px;
}
/* 中 */
.mod-category .category-product {
    width: 640px;
    float: left;
    margin-left: 13px;
}
.mod-category .category-product .cp-item {
    position: relative;
    height: 180px;
}
.mod-category .category-product .cp-item-hd {
    width: 639px;
    height: 6px;
    background: url(../img/home/03c8.png) no-repeat 0 0;
    position: relative;
}
.mod-category .category-product .cp-item-hd .title {
    font-size: 14px;
    color: #383838;
    line-height: 18px;
    letter-spacing: 6px;
    width: 163px;
    position: absolute;
    top: -6px;
    left: 244px;
    text-align: center;
}
.mod-category .category-product .cp-item-bd {
    overflow: hidden;
    margin-left: -10px;
}
.mod-category .category-product .cp-product {
    width: 120px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
.mod-category .category-product .cp-product .cp-img {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
}
.mod-category .category-product .cp-product .cp-img img {
    max-width: 120px;
    max-height: 120px;
}
.mod-category .category-product .cp-product .cp-name {
    color: #383838;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 3px;
}
.mod-category .category-product .cp-product:hover .cp-name{
    color: #c33;
}
/* 右 */
.mod-category .category-topic {
    width: 234px;
    height: 540px;
    float: right;
}
.mod-category .category-topic .ct-hd {
    width: 229px;
    height: 9px;
    background: url(../img/home/ff26.png) no-repeat 0 0;
    position: relative;
}
.mod-category .category-topic .ct-hd .title {
    font-size: 14px;
    color: #383838;
    line-height: 18px;
    letter-spacing: 6px;
    width: 115px;
    position: absolute;
    top: -6px;
    left: 65px;
    text-align: center;
}
.mod-category .category-topic .ct-bd a {
    display: block;
    width: 170px;
    padding: 0 32px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px;
    background: url(../img/home/1e66.png) no-repeat;
    margin-top: 10px;
}
/* 品牌轮播 */
.mod-category .brand-list {
    overflow: hidden;
    float: left;
    margin-left: -10px;
}
.mod-category .brand-list .bl-item {
    width: 232px;
    float: left;
    margin-left: 10px;
    background-color: #f8f8f8;
    position: relative;
}
.mod-category .brand-list .bl-next, .mod-category .brand-list .bl-prev {
    position: absolute;
    top: 110px;
    cursor: pointer;
    display: none;
    z-index: 10;
}
.mod-category .brand-list .bl-prev {
    left: 0;
}
.mod-category .brand-list .bl-next {
    right: 0;
}
.mod-category .brand-list .bl-item:hover .bl-next{
    display: block;
}
.mod-category .brand-list .bl-item:hover .bl-prev{
    display: block;
}
.hi-prev-small {
    background-position: 0 -98px;
    width: 20px;
    height: 40px;
}
.hi-next-small {
    background-position: -21px -98px;
    width: 20px;
    height: 40px;
}
.mod-category .brand-list .bl-item-bd {
    overflow: hidden;
    padding: 10px 20px 20px;
    margin-left: -10px;
    height: 234px;
}
.mod-category .brand-list .bl-item-bd a {
    width: 91px;
    float: left;
    text-align: center;
    margin: 10px 0 0 10px;
    color: #383838;
}
.mod-category .brand-list .bl-item-bd .bl-img {
    width: 91px;
    height: 91px;
    text-align: center;
    line-height: 91px;
    background-color: #fff;
}
.mod-category .brand-list .bl-item-bd .bl-img img {
    max-width: 100%;
}
.mod-category .brand-list .bl-item-bd .bl-name {
    margin-top: 3px;
    color: #383838;
    height: 18px;
    overflow: hidden;
}
.mod-category .brand-list .bl-item-ft {
    text-align: center;
    padding: 10px 0 5px;
    border: 1px solid #dedede;
    border-top: 0;
    font-size: 16px;
    color: #383838;
    background-color: #fff;
    font-weight: 700;
}
.dis{
    display: none;
}
.mod-category .brand-list .bl-item-bd a:hover .bl-name{
    color: #c33;
}
/* 热卖地 */
.hi-hot-site {
    background-position: -120px -30px;
    width: 20px;
}
.mod-hot-site .mod-hd{
    margin-top: 10px;
}
.mod .mod-bd {
    margin-top: 10px;
    overflow: hidden;
}
.hot-site-list {
    overflow: hidden;
    margin-left: -13px;
}
.hot-site-list .site-item {
    width: 290px;
    height: 369px;
    float: left;
    position: relative;
    margin-left: 13px;
}
.hot-site-list a.beimei {
    background: url(../img/home/b5ab.png) no-repeat;
}
.hot-site-list .site-item .home-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
}
.hi-beimei {
    background-position: 0 -138px;
}
.hot-site-list a.ouzhou {
    background: url(../img/home/0ba8.png) no-repeat;
}
.hi-ouzhou {
    background-position: -80px -138px;
}
.hot-site-list a.yazhou {
    background: url(../img/home/7789.png) no-repeat;
}
.hi-yazhou {
    background-position: -160px -138px;
}
.hot-site-list a.aoxin {
    background: url(../img/home/733c.png) no-repeat;
}
.hi-aoxin {
    background-position: -240px -138px;
}
/* 猜你喜欢 */
.hi-like {
    background-position: -168px -30px;
}   
.mod-like .product-list {
    margin: -10px 0 0 -10px;
    overflow: hidden;
}
.product-list:after, .product-list:before {
    display: table;
    line-height: 0;
    content: "";
}
.product-list .product-item {
    width: 212px;
    float: left;
    font-size: 14px;
    padding: 9px;
    border: 1px solid #dedede;
    text-align: left;
}
.mod-like .product-list .product-item {
    margin: 10px 0 0 10px;
    overflow: hidden;
}
.product-list .product-img {
    width: 212px;
    height: 212px;
    line-height: 212px;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
}
.product-list .product-img img {
    width: 212px;
    height: 212px;
}
.product-list .price {
    color: #c33;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
}
.product-list .unit {
    padding-right: 3px;
}
/* 点击加载更多 */
.loading-more {
    border: 1px solid #dedede;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #383838;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 40px;
}
.loading-more:hover{
    border: 1px solid #c33;
    color: #c33;
}
/* 底部 */
.footer {
    background-color: #fff;
    margin-top: 70px;
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 1200px;
}
.matou-server {
    height: 36px;
    text-align: center;
    padding: 20px 0;
    padding:10px 0;
    height:60px;
    background-color: #c33;
}
.wrapper .area {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 1190px;
}
.wrapper .area:after, .wrapper .area:before {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.bottom_list {
    width: 880px;
    margin: 10px auto 15px;
    text-align: left;
    overflow: hidden;
}
.bottom_list .dl {
    float: left;
    width: 190px;
    font-size: 12px;
}
.bottom_list .dt {
    font: 700 14px/26px Microsoft yahei;
}
.bottom_list li {
    padding: 3px 0;
}
.bottom_list .last {
    width: auto;
}
.bottom_list .last .img {
    width: 90px;
    height: 90px;
}
.weibobox {
    border: 1px solid #ddd;
    display: block;
    padding: 3px 1px 3px 5px;
    margin-top: 5px;
    text-decoration: none;
}
.weibobox a {
    vertical-align: middle;
    display: inline-block;
    margin: 0 2px;
}
.bottom_list a {
    color: #999;
}
.ico-caution, .ico-doubt, .ico-kaixin, .ico-qzone, .ico-renren, .ico-success, .ico-weibo, .ico-weibo-png, .icon-red-caution {
    background-image: url(../img/footer/72a5.png);
}
.ico-doubt, .ico-kaixin, .ico-qzone, .ico-renren, .ico-success, .ico-weibo, .ico-weibo-png, .icon-red-caution {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.ico-weibo-png {
    background-position: -26px -131px;
    width: 22px;
    height: 20px;
}
.matou-intro {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.matou-intro a {
    font: 700 12px/1.5 Microsoft yahei;
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 10px;
    color: #868686;
}
.matou-intro .last {
    border-right: 0;
}
.matou-link {
    margin: 0 auto;
    width: 1100px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}
.matou-link a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    color: #bbb;
    border-right: 1px solid #ccc;
    margin: 5px 0;
    height: 18px;
    line-height: 18px;
}
.matou-link a:hover{
    color: blue;
}
.matou-intro a:hover{
    color: blue;
}
.friendLinks {
    width: 760px;
    margin: 10px auto;
    clear: both;
    height: 50px;
    text-align: center;
    font-size: 0;
    letter-spacing: -4px;
}
.friendLinks .linkitem {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/footer/08f2.png);
    background-repeat: no-repeat;
    margin-right: 5px;
}
.friendLinks .icon-kexin {
    width: 128px;
    height: 50px;
    background-position: -5px -2px;
    margin-right: 3px;
}
.friendLinks .icon-zhifubao {
    width: 102px;
    height: 50px;
    background-position: -296px -2px;
}
.friendLinks .icon-wangjing {
    width: 153px;
    height: 50px;
    background-position: -404px -2px;
}
.friendLinks .icon-gongshang3 {
    width: 204px;
    height: 50px;
    background-image: url(../img/footer/65ba.png);
}
.copywrite {
    color: #666;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.friendLinks2 {
    margin: 0 auto;
    width: 740px;
    height: 100px;
    overflow: hidden;
}
.friendLinks .icon-gongshang {
    width: 47px;
    height: 47px;
    background-position: -562px -2px;
}
div.friendLinks2 .beian-banner {
    float: left;
    margin-top: 25px;
}
div.friendLinks2 .beian-banner .beian {
    background: url(../img/footer/d028.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}
div.friendLinks2 .beian-banner .beian-txt {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 5px;
    color: #666;
}
div.friendLinks2 .split {
    float: left;
    margin: 25px 7px 0;
}
div.friendLinks2 .link-item {
    float: left;
    margin-top: 25px;
}
div.friendLinks2 .jbzxIcon {
    height: 20px;
    width: 20px;
    background: url(../img/footer/bd90.png) no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
}