* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a {
    color: #646464;
}

a:hover {
    color: #c31;
}

.nav_top {
    background-color: #f8f8f8;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.nav_top .top_inner {
    width: 1200px;
    margin: auto;
}

.nav_top .top_inner a {
    padding-left: 20px;
}

.nav_top .top_right a {
    display: inline-block;
    padding: 0 10px;
}

.nav_top .user_name {
    position: relative;
    margin-right: 10px;
}

.nav_top .user_name .jt {
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: inline-block;
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: #9b9b9b transparent transparent;
    position: absolute;
    top: 14px;
}

.nav_top .user_name .ts {
    position: absolute;
    width: 60px;
    top: 30px;
    left: 0;
    border: 1px solid #dedede;
    border-top: none;
    display: none;
}

.nav_top .user_name .ts:hover {
    color: blue;
}

.center {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.center .center_left {
    text-align: left;
    width: 180px;
    float: left;
    background-color: #f8f8f8;
    padding: 20px 0 10px;
    margin-top: 30px;
    margin-right: 20px;
}

.center .center_left .title {
    font-size: 16px;
    color: #383838;
    padding: 5px 0 5px 30px;
}

.center .center_left .title em {
    width: 7px;
    height: 7px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #cecece;
    vertical-align: middle;
    margin-right: 10px;
}

.center .center_left a {
    padding-left: 47px;
    height: 32px;
    line-height: 32px;
    display: block;
}

.center .center_left .title_1 {
    font-size: 18px;
    color: #383838;
    border-bottom: 1px dotted #dedede;
    padding: 0 0 8px 8px;
}

.center .center_left .title_1 a {
    padding-left: 8px;
}

.center .center_left .title_1 em {
    background-image: url(../img/order_from/1.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-position: -63px -90px;
}

.center .center_left .bg a:hover,
.center .center_left .red a {
    background-color: #c31;
    color: #FFF;
}

.center .center_right {
    width: 1000px;
    float: left;
    margin-top: 30px;
}

.center .center_right ul {
    border-bottom: 2px solid #dedede;
    padding-bottom: 8px;
    height: 24px;
}

.center .center_right ul li {
    float: left;
    border-right: 1px solid #dedede;
    padding: 0 20px;
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #383838;
    font-size: 18px;
}

.center .center_right ul li .num {
    color: #c33;
    padding-left: 3px;
}

.center .center_right ul .line {
    border-bottom: 2px solid #c33;
    width: 100%;
    left: 0;
    bottom: -10px;
    position: absolute;
    display: none;
}

.center .center_right ul .active .line {
    display: block;
}

.center .order_table {
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    color: #383838;
    margin-top: 20px;
}

.center .order_table th {
    font-weight: 400;
}

.center .order_table .product-info {
    width: 352px;
}

.center .order_table .price {
    width: 95px;
    text-align: left;
}

.center .order_table .count {
    width: 70px;
    text-align: left;
}

.center .order_table .product-operate {
    width: 100px;
    text-align: left;
}

.center .order_table .sum {
    width: 130px;
}

.center .order_table .trade-type {
    width: 118px;
}

.center .order_table .order-operate {
    width: 135px;
}

.more {
    border: 1px solid #dedede;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #383838;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 40px;
}

.more:hover {
    color: #c31;
    border-color: #c31;
}

#order_add tr {
    height: 100px;
}

#order_add img {
    width: 80px;
    height: 80px;
}

#order_add .name {
    margin: auto;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*# sourceMappingURL=order_form.css.map */